body{
    background-color: rgb(30, 15, 49);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    background-color: rgb(48, 0, 77);
    transition: 0.15s;
    font-family: 'Open Sans';
}

nav:hover{
    background-color: #521d4b;
}

.logo{
    display: flex;
    align-items: center;
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}
.logo img{
    width: 50px;
    margin-right: 20px;
    transition: 0.15s;

}
.logo img:hover{
    transform: scale(1.1);
    animation: logo360 0.5s both;
}

@keyframes logo360{
    0%   {transform: scale(1.1) rotate(0deg);}
    100% {transform: scale(1.2) rotate(360deg);}
}

.nav-main-text{
    font-size: 25px;
    font-family: 'Oswald';
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    z-index: 100;
    transition: 0.15s;
}

.nav-links a{
    color: rgb(224, 224, 224);
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 19px;
}

.nav-links a:hover{
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    font-weight: bold;
    transform: scale(1.3);
}

.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    transition: 0.15s;
}
.burger i{
    color: rgb(224, 224, 224);
}

.burger:hover{
    transform: scale(1.3);
}

.nav-active{
    height: 0px;
    width: 0%;
}


@keyframes navlinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(50px);
    }
}




/* footer */
.footer-div{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(48, 0, 77);
    transition: 0.15s;
}

.footer-div i {
    font-size: 30px;
    color: rgb(226, 226, 226);
    margin-left: 40px;
    margin-top: 10px;
    transition: 0.15s;
}
.footer-div i:hover {
    transform: scale(1.2);
}

.footer-div:hover{
    background-color: #521d4b;
}




/* characters */
.character-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inside-div{
    background-color: rgb(151, 61, 207);
    margin: 20px;
    width: 160px;
    border-radius: 10px;
    transition: 0.15s;
}
.inside-div:hover{
    background-color: rgb(12, 179, 12);
    transform: scale(1.3);
}

.inside-div img{
    width: 150px;
    margin-top: 5px;
}
.inside-div p, li, h4 {
    color: white;
    text-align: center;
    margin: 5px;
    font-family: 'Open Sans';
}






/* sign up */
.error-text{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Open Sans';
}


.main_form{
    background-color: rgb(51, 0, 66);
    margin: 50px auto auto auto;
    width: 70%;
    height: 570px;
    border: 3px solid rgb(216, 216, 216);
    border-radius: 20px;
    padding: 10px;
    transition: 0.15s;
}
.main_form:hover{
    background-color: rgb(63, 0, 80);
}


input[type=text],[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=radio], [type=checkbox] {
    margin: 10px 10px;
    width: 20px;
    height: 20px;
}
.radiolabel {
    margin-left: 10px;
    color: rgb(216, 216, 216);
    font-family: 'Open Sans';
    font-size: 20px;
}
.checkboxlabel{
    margin-left: 10px;
    color: rgb(216, 216, 216);
    font-family: 'Open Sans';
    font-size: 20px;
}

.btn1 {
    width: 20%;
    background-color: rgb(255, 145, 0);
    color: white;
    font-size: 20px;
    padding: 15px 10px;
    margin: 50px 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.btn1:hover {
    background-color: rgb(81, 255, 0);
}

@media screen and (max-width: 600px)
{
    .btn1 {
        width: 30%;
    }
}    



.pagerbtn {
    width: 20%;
    background-color: rgb(255, 145, 0);
    color: white;
    font-size: 20px;
    padding: 15px 10px;
    margin: 0px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.pagerbtn:hover { 
    background-color: rgb(81, 255, 0);
}

.btndiv{
    width: 50%;
    height: 100px;
    margin: 0px 50%;
    transform: translateX(-35%);
}

/* main page */
.mainImageDiv {
    background-image: url(../images/main-image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 200px 100px; */
    width: 100%;
    height: 800px;
    position: relative;
}

.mainPresentBlock h2{
    font-size: 60px;
    color: white;
    padding: 100px 20px 0 20px;
    font-family: 'Open Sans';
}

.main-btn{
    margin: 0px 0px 0px 50%;

    transform: translateX(-65%);
    width: 200px;
    background-color: rgb(238, 255, 0);
    color: rgb(27, 27, 27);
    font-size: 20px;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}
.main-btn:hover{    
    background-color: rgb(15, 197, 54);
    color: white;
    border-radius: 40px;
    transform: translateX(-65%) scale(1.1);
}


/* triangle */
.triangleElement{
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: rgb(255, 251, 0);
    border-left-color: rgb(255, 251, 0);
    margin: 25px 25px;
    animation: triaMove 4s infinite;
}


@keyframes triaMove {
    0%   {margin-left: 0px;}
    25% {margin-left: 90%; transform: rotate(540deg);}
    50% {margin-left: 90%; transform: rotate(540deg);}
    75% {margin-left: 0%; transform: rotate(0deg);}
    100% {margin-left: 0%; transform: rotate(0deg);}
}



/* type colors */

.fireColor:hover{
    background-color: #da3e00;
}

.waterColor:hover{
    background-color: #44caff;
}

.flyColor:hover{
    background-color: #aefff3;
}

.bugColor:hover{
    background-color: #a2b78e;
}

.normalColor:hover{
    background-color: #cccccc;
}

.poisonColor:hover{
    background-color: purple;
}

.electricColor:hover{
    background-color: rgb(226, 226, 0);
}

.groundColor:hover{
    background-color: #654320;
}


.fairyColor:hover{
    background-color: #971944;
}

.fightingColor:hover{
    background-color: #994024;
}

.psychicColor:hover{
    background-color: #f81c91;
}

.iceColor:hover{
    background-color: #9ec9cc;
}

.rockColor:hover{
    background-color: #353644;
}
